In [1]:
#Housing.csv data

import pandas as pd
import numpy as np

In [2]:
# importing our Housing.csv data

dataset = pd.read_csv('Housing.csv')

In [3]:
# EXPLORATION OF THE DATASET

# Previewing the dataset
dataset.head()

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price,State,Neighbourhood Code
0,79545.458574,5.682861,7.009188,4.09,23086.800503,1.059034e+06,"Laurabury, NE",NE
1,79248.642455,6.002900,6.730821,3.09,40173.072174,1.505891e+06,"Lake Kathleen, CA",CA
2,61287.067179,5.865890,8.512727,5.13,36882.159400,1.058988e+06,"Danieltown, WI",WI
3,63345.240046,7.188236,5.586729,3.26,34310.242831,1.260617e+06,FPO AP,AP
4,59982.197226,5.040555,7.839388,4.23,26354.109472,6.309435e+05,FPO AE,AE

In [4]:
dataset.tail()

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price,State,Neighbourhood Code
4995,60567.944140,7.830362,6.137356,3.46,22837.361035,1.060194e+06,FPO AP,AP
4996,78491.275435,6.999135,6.576763,4.02,25616.115489,1.482618e+06,APO AA,AA
4997,63390.686886,7.250591,4.805081,2.13,33266.145490,1.030730e+06,"Joshualand, VA",VA
4998,68001.331235,5.534388,7.130144,5.44,42625.620156,1.198657e+06,FPO AE,AE
4999,65510.581804,5.992305,6.792336,4.07,46501.283803,1.298950e+06,"East Holly, NV",NV

In [5]:
# Getting more information about dataset

dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 8 columns):
Avg. Area Income                5000 non-null float64
Avg. Area House Age             5000 non-null float64
Avg. Area Number of Rooms       5000 non-null float64
Avg. Area Number of Bedrooms    5000 non-null float64
Area Population                 5000 non-null float64
Price                           5000 non-null float64
State                           5000 non-null object
Neighbourhood Code              5000 non-null object
dtypes: float64(6), object(2)
memory usage: 312.6+ KB

In [7]:
# Identifying any duplicate rows

dataset.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
4995    False
4996    False
4997    False
4998    False
4999    False
Length: 5000, dtype: bool

In [8]:
dataset[dataset.duplicated()]

Empty DataFrame
Columns: [Avg. Area Income, Avg. Area House Age, Avg. Area Number of Rooms, Avg. Area Number of Bedrooms, Area Population, Price, State, Neighbourhood Code]
Index: []

In [13]:
# Previewing the columns name of the dataset

dataset.columns

Index(['Avg. Area Income', 'Avg. Area House Age', 'Avg. Area Number of Rooms',
       'Avg. Area Number of Bedrooms', 'Area Population', 'Price', 'State',
       'Neighbourhood Code'],
      dtype='object')

In [25]:
# Check for the frequency distribution of columns(not relevant)
dataset['Avg. Area Income'].value_counts()

73056.526114    1
60307.017659    1
61088.393614    1
67310.036953    1
70944.653449    1
               ..
69677.419319    1
93455.952957    1
86818.068756    1
52446.266856    1
93822.308480    1
Name: Avg. Area Income, Length: 5000, dtype: int64

In [21]:
# Exploring the number of missing values each column/series has

dataset.isnull().sum()

Avg. Area Income                0
Avg. Area House Age             0
Avg. Area Number of Rooms       0
Avg. Area Number of Bedrooms    0
Area Population                 0
Price                           0
State                           0
Neighbourhood Code              0
dtype: int64

In [19]:
# Descriptive analysis of your dataset

dataset.describe()

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price
count,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5.000000e+03
mean,68583.108984,5.977222,6.987792,3.981330,36163.516039,1.232073e+06
std,10657.991214,0.991456,1.005833,1.234137,9925.650114,3.531176e+05
min,17796.631190,2.644304,3.236194,2.000000,172.610686,1.593866e+04
25%,61480.562388,5.322283,6.299250,3.140000,29403.928702,9.975771e+05
50%,68804.286404,5.970429,7.002902,4.050000,36199.406689,1.232669e+06
75%,75783.338666,6.650808,7.665871,4.490000,42861.290769,1.471210e+06
max,107701.748378,9.519088,10.759588,6.500000,69621.713378,2.469066e+06

In [27]:
# Percentage distribution of a column(not relevant)
dataset['Avg. Area House Age'].value_counts(normalize=True) * 100

6.150796    0.02
5.345949    0.02
6.171113    0.02
6.844164    0.02
7.481985    0.02
            ...
4.895125    0.02
4.254128    0.02
6.326840    0.02
5.990448    0.02
4.899966    0.02
Name: Avg. Area House Age, Length: 5000, dtype: float64

In [41]:
#Exploring how the differnt categories in your column/series are spelt

dataset['Avg. Area House Age'].unique()

array([5.68286132, 6.00289981, 5.86588984, ..., 7.25059061, 5.53438842,
       5.99230531])